.page{
    width: 100%;
    min-height: 100vh;
    position: relative;

    .toast{
        .cardFalse{
             padding: 20px 40px;
            background-color: rgb(255, 255, 255);
            border-left: 5px solid rgb(255, 0, 0);
            border-bottom: 1px solid black;

            border-radius: 10px;
            
            font-size: large;
            font-weight: 700;

        }
        .cardTrue{
            padding: 20px 40px;
            background-color: rgb(255, 255, 255);
            border-left: 5px solid green;
            border-bottom: 1px solid black;

            border-radius: 10px;
        
            font-size: large;
            font-weight: 700;
        }
        position: absolute;
        top: 10px;
        right: 10px;

        z-index: 9999;

    }


    .container{
        margin: 0 auto;
        width: 70%;
        min-height: 100vh;

        display: flex;
        align-items: center;
        justify-content: center;

        .box{
            min-height: 300px;
            width: 500px;

            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 15px;

            border-radius: 30px;
            border: 2px solid black;

            h1{
                margin: 0px;
            }
            input{
                padding: 5px;
                border-radius: 5px;
                border: 2px solid black;
            }

            .LoginBtn{
                padding: 5px 10px;

                border-radius: 30px;
                border: 2px solid black;

                cursor: pointer;
            }
            .LoginBtn:hover{
                background-color: gray;
            }
        }
    }
}