<div class="page">
    <div class="container">
        <div class="medicamentos">
            <div class="h1deletebtn">
                <h1>
                    Medicamentos
                </h1>
                <button class="adicionarMed" (click)="swapRemedioBox()">
                    <mat-icon>
                    add
                    </mat-icon>
                 </button>
                <button class="switchDelete"  (click)="swapDeleteMed()">
                    <mat-icon>
                        delete
                    </mat-icon>
                </button>
                <button class="LogoutBtn"  (click)="logout()">
                    <mat-icon>
                        logout
                    </mat-icon>
                </button>
            </div>
           
            <div class="medsBox">
                <div class="forCards" *ngFor="let med of medicamentos; let i=index">
                     <div class="deleteMedBtn" *ngIf="showDeleteMed" (click)="deleteMedReq(med.nome)" appStopPropagation>
                        <mat-icon>
                            delete
                         </mat-icon>
                     </div>
                     <div class="card" (click)="getHorarios(med.nome)">
                        <p>
                            {{ med.nome }}
                        </p>
                        <p>
                            {{ med.dosagem }}
                        </p>
                        <p class="instrucoes">
                            {{ med.instrucoes }}
                        </p>

                     </div>
                </div>
            </div>
        </div>
    </div>
    <div class="boxAddMed" *ngIf="showBoxAddMed">
        <div class="boxAddMedBox">
            <button class="closeNewRemedioBox" (click)="swapRemedioBox()">
                <mat-icon>
                    close
                </mat-icon>
            </button>
            <h1>Cadastrar Remedio</h1>
            <input class="nome inputNewRemedio" id="nome" [(ngModel)]="addNewnome" name="nome" placeholder="nome">
            <input class="dosagem inputNewRemedio" id="dosagem" [(ngModel)]="addNewdosagem" name="dosagem" placeholder="dosagem">
            <input class="instrucoes inputNewRemedio" id="instrucoes" [(ngModel)]="addNewinstrucoes" name="instrucoes" placeholder="instrucoes">
            <button class="newRemedioBtn" (click)="saveNewRemedio()">
                Save
                <mat-icon>
                    save
                </mat-icon>
            </button>
        </div>
    </div>
    <div class="boxHorarios" *ngIf="showHorarios">
        <div class="boxHorariosBox">
            <div class="medTituloHorarios">
                <h1>{{ medAtual }}</h1>
            </div>
            <div class="instrucoesHorario">
                <h2> Instruções :</h2>
                <h3> {{ getInstrucoes() }} </h3>
            </div>
            <button class="closeHorarioBox" (click)="swapHorariosBox()"> 
                 <mat-icon>
                    close
                </mat-icon>
            </button>
            <div class="h1horarios">
                <H1>Horarios</H1>
                <button class="addHorarioBtn" (click)="newHorario()">
                    <mat-icon>
                        add
                    </mat-icon>
                </button>
                <button class="deleteHorario" (click)="swapDeleteHorario()">
                    <mat-icon>
                        delete
                    </mat-icon>
                </button>
            </div>
            <div class="horarios">
                <div class="cardHorario" *ngFor="let horario of horarios; let i=index">
                    <div class="deleteHorarioIf" *ngIf="showDeleteHorario" (click)="deleteHorario(horario.hora)">
                        <mat-icon>
                        delete
                        </mat-icon>
                    </div>
                    <p class="indexHorario">
                        {{ horarios.length - i }}.
                    </p>
                    <p>
                        Dia: {{ formatarDataDia(horario.hora) }}
                    </p>
                    <p>
                        Hora: {{ formatarDataHora(horario.hora) }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="toast" *ngIf="toastService.toasts.length > 0">
        <div *ngFor="let toast of toastService.toasts; let i = index">
            <div class="cardFalse" *ngIf="toast.type == 'error'">
                {{ toast.message }}
            </div>
            <div class="cardTrue" *ngIf="toast.type == 'success'">
                {{ toast.message }}
            </div>
        </div>
    </div>
    
</div>

