<div class="page">
    <div class="container">
        <div class="box">
            <h1>Register</h1>
            <input type="text" id="name" [(ngModel)]="name" name="name" placeholder="Name"/>
            <input type="text" id="email" [(ngModel)]="email" name="email" placeholder="email"/>
            <input type="password" id="password" [(ngModel)]="password" name="password" placeholder="Password"/>
            <button class="registerBtn"(click)="register()">
                Register
            </button>
        </div>
    </div>

    <div class="toast" *ngIf="toastService.toasts.length > 0">
        <div *ngFor="let toast of toastService.toasts; let i = index">
            <div class="cardFalse" *ngIf="toast.type == 'error'">
                {{ toast.message }}
            </div>
            <div class="cardTrue" *ngIf="toast.type == 'success'">
                {{ toast.message }}
            </div>
        </div>
    </div>

    <div *ngIf="isLoading" class="loader-overlay">
      <div class="spinner"></div>
    </div>
    
</div>